---
import { cn } from 'src/utils'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={cn('relative w-[200px] md:w-[250px] h-full', className)}>
  <div class='absolute right-0 md:-right-12 md:-top-12'>
    <svg
      class='w-[65px] h-[65px] md:w-[130px] md:h-[130px]'
      viewBox='0 0 130 130'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
    >
      <g clip-path='url(#clip0_304_74)'>
        <path
          fill-rule='evenodd'
          clip-rule='evenodd'
          d='M45.1437 63.3444C43.9832 63.8983 42.823 64.4649 41.8735 64.9977C24.8872 74.4119 9.16653 89.1594 0.304108 106.45C-0.0124068 107.079 0.198603 107.855 0.831633 108.179C1.46466 108.503 2.20382 108.254 2.52033 107.623C11.2772 90.7725 26.5755 76.4186 43.1398 67.2428C43.6673 66.9389 44.3005 66.6235 44.9336 66.3038C45.0391 67.8706 45.5664 69.1609 46.3049 70.2012C47.4655 71.7436 49.2589 72.7913 51.369 73.3726C54.3231 74.1755 57.8043 74.0869 60.9695 73.3526C63.3961 72.7639 65.6119 71.7574 66.9835 70.5156C68.144 69.5143 68.7769 68.3453 68.8824 67.113C68.9879 65.8153 68.461 64.3741 66.8784 62.9266C64.2408 60.4145 60.653 59.6686 56.7493 59.9872C53.9007 60.2236 50.9469 61.0486 48.2038 62.0741C48.5203 61.2174 48.9425 60.2921 49.4701 59.2941C53.6903 51.7958 63.8181 44.7312 75.7402 38.8757C93.8871 29.9837 116.254 23.9573 128.704 23.8971C129.337 23.894 129.97 23.3158 129.97 22.6068C129.97 21.8978 129.337 21.3249 128.704 21.3281C115.938 21.3893 93.1489 27.4917 74.5801 36.5693C62.1305 42.6939 51.5796 50.2048 47.2538 58.0491C46.1988 60.022 45.4603 61.7819 45.1437 63.3444ZM47.4651 65.1306C47.3596 66.575 47.6759 67.7387 48.3089 68.6587C49.1529 69.7718 50.5245 70.4765 52.0016 70.8954C54.5337 71.5917 57.5938 71.4894 60.3369 70.8521C62.236 70.3953 64.0291 69.6673 65.1897 68.7209C65.8227 68.186 66.2454 67.6047 66.3509 66.9337C66.3509 66.2489 65.9282 65.5526 65.1897 64.7888C62.9741 62.7757 60.0202 62.2925 56.9605 62.5478C53.7954 62.8137 50.3137 63.892 47.4651 65.1306Z'
          fill='currentColor'></path>
        <path
          fill-rule='evenodd'
          clip-rule='evenodd'
          d='M2.49149 107.5C5.12911 100.57 5.65726 92.4373 4.70771 85.1047C4.60221 84.401 3.96938 83.9009 3.33635 83.9895C2.59782 84.0771 2.06967 84.7196 2.17518 85.4222C3.01922 92.3508 2.5972 100.037 0.0650782 106.586C-0.145932 107.248 0.170789 107.991 0.803819 108.244C1.54235 108.496 2.28048 108.163 2.49149 107.5Z'
          fill='currentColor'></path>
        <path
          fill-rule='evenodd'
          clip-rule='evenodd'
          d='M2.45473 107.868C6.99145 102.394 14.6939 100.156 21.5518 99.2975C22.1848 99.2089 22.7123 98.5653 22.6068 97.8616C22.5013 97.159 21.8679 96.6599 21.1293 96.7485C13.744 97.6854 5.40949 100.268 0.450757 106.239C0.0287371 106.787 0.134448 107.597 0.661973 108.046C1.1895 108.497 2.03271 108.415 2.45473 107.868Z'
          fill='currentColor'></path>
      </g>

      <defs>
        <clipPath id='clip0_304_74'>
          <rect width='130' height='130' fill='white'></rect>
        </clipPath>
      </defs>
    </svg>
    <span
      class='font-hand text-primary text-lg xl:text-xl absolute -top-10 rotate-6 md:top-0 -right-20 md:-right-36 2xl:translate-x-1 max-w-[15ch] font-bold'
    >
      Me, according to my niece :)
    </span>
  </div>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    version='1.1'
    class='w-auto h-auto max-h-[inherit] text-primary text-opacity-90 dark:text-opacity-95'
    viewBox='0 0 334 418'
    style={{
      shapeRendering: 'geometricPrecision',
      textRendering: 'geometricPrecision',
      imageRendering: 'auto',
      fillRule: 'evenodd'
    }}
    preserveAspectRatio='none'
  >
    <g>
      <path
        fill='currentColor'
        d='M 111.5,-0.5 C 112.167,-0.5 112.833,-0.5 113.5,-0.5C 114.122,0.626561 114.955,1.62656 116,2.5C 118.939,10.2488 120.272,18.2488 120,26.5C 117.23,29.2795 114.896,28.9462 113,25.5C 110.057,17.7321 109.057,9.73208 110,1.5C 110.717,0.955796 111.217,0.28913 111.5,-0.5 Z'
      ></path>
    </g>
    <g>
      <path
        fill='currentColor'
        d='M 188.5,412.5 C 188.167,411.167 187.833,411.167 187.5,412.5C 181.162,408.048 177.162,402.381 175.5,395.5C 173.505,392.997 172.171,390.164 171.5,387C 172.368,385.135 172.034,383.302 170.5,381.5C 170.709,380.914 171.043,380.414 171.5,380C 170.545,376.901 169.711,373.734 169,370.5C 166.894,368.623 165.561,366.29 165,363.5C 164.83,357.472 164.33,351.472 163.5,345.5C 160.198,347.1 158.031,346.1 157,342.5C 155.001,323.506 151.335,304.84 146,286.5C 143.573,270.744 140.74,255.077 137.5,239.5C 111.299,239.473 98.7989,226.806 100,201.5C 92.0427,206.96 84.5427,212.96 77.5,219.5C 81.2711,223.905 83.6044,228.905 84.5,234.5C 92.159,236.496 99.4923,239.33 106.5,243C 113.149,251.885 111.482,258.552 101.5,263C 97.5577,263.993 93.5577,264.66 89.5,265C 90.8522,267.294 91.5189,269.794 91.5,272.5C 89.6614,293.253 79.6614,298.42 61.5,288C 59.2132,285.93 57.5466,283.43 56.5,280.5C 55.5,280.167 54.5,279.833 53.5,279.5C 45.8167,281.697 38.15,281.864 30.5,280C 24.2399,274.766 22.4065,268.6 25,261.5C 26.1227,258.751 27.6227,256.251 29.5,254C 18.106,250.292 14.2727,242.792 18,231.5C 23.4607,225.177 30.294,222.677 38.5,224C 32.5915,216.471 31.0915,208.305 34,199.5C 38.8996,195.281 44.3996,194.448 50.5,197C 55.5758,201.318 58.4092,206.818 59,213.5C 59.5613,214.022 60.228,214.355 61,214.5C 63.7952,213.815 66.6285,213.315 69.5,213C 77.8772,205.621 86.5439,198.621 95.5,192C 89.8767,188.045 84.5434,183.712 79.5,179C 72.769,176.867 66.1024,174.534 59.5,172C 53.8309,169.185 51.9976,164.685 54,158.5C 54.7845,156.714 55.9512,155.214 57.5,154C 65.7293,148.548 74.7293,145.381 84.5,144.5C 84.299,134.042 85.299,123.709 87.5,113.5C 77.1256,112.725 67.9589,109.059 60,102.5C 56.2576,96.1509 55.5909,89.4843 58,82.5C 60.8598,76.9187 63.5265,71.2521 66,65.5C 67.4578,63.04 69.2911,60.8734 71.5,59C 67.2119,53.5897 63.0452,48.0897 59,42.5C 58.3333,41.8333 58.3333,41.1667 59,40.5C 60.9874,39.782 62.8208,38.782 64.5,37.5C 65.5,38 66.5,38.5 67.5,39C 70.8792,43.5905 74.3792,48.0905 78,52.5C 82.7967,47.77 88.13,43.77 94,40.5C 93.3484,35.5382 92.5151,30.5382 91.5,25.5C 91.5507,23.9002 91.8841,22.4002 92.5,21C 95.3471,20.0561 97.8471,20.5561 100,22.5C 100.745,27.0649 102.078,31.3982 104,35.5C 110.946,31.4067 118.446,28.9067 126.5,28C 131.098,21.0723 135.265,13.9056 139,6.5C 144.714,1.76121 147.381,3.09454 147,10.5C 143.5,16 140,21.5 136.5,27C 140.264,27.8659 143.931,29.0326 147.5,30.5C 148.873,32.4899 149.873,34.6566 150.5,37C 151.833,37.6667 153.167,37.6667 154.5,37C 163.4,28.9306 172.733,21.4306 182.5,14.5C 185.502,15.5099 186.668,17.5099 186,20.5C 178.167,27 170.333,33.5 162.5,40C 166.333,41.5 170.167,43 174,44.5C 179.659,41.5869 185.493,39.0869 191.5,37C 194.429,36.2228 197.263,36.3895 200,37.5C 200.798,39.2588 200.631,40.9255 199.5,42.5C 193.622,44.1052 187.956,46.2719 182.5,49C 191.238,55.4234 194.071,63.9234 191,74.5C 186.998,84.1688 180.498,91.6688 171.5,97C 172.118,101.338 173.284,105.505 175,109.5C 186.826,95.9868 200.326,93.9868 215.5,103.5C 217.825,106.765 219.159,110.432 219.5,114.5C 218.063,118.851 216.563,123.184 215,127.5C 211.878,130.906 209.378,134.74 207.5,139C 218.891,139.684 230.225,140.85 241.5,142.5C 244.132,139.93 246.299,136.93 248,133.5C 250.039,131.126 252.372,129.126 255,127.5C 258.99,112.586 268.49,107.086 283.5,111C 286.98,113.297 288.98,116.464 289.5,120.5C 299.312,121.729 304.312,127.396 304.5,137.5C 316.863,134.403 322.363,139.07 321,151.5C 320.117,154.102 318.617,156.269 316.5,158C 312.213,159.488 307.88,160.822 303.5,162C 312.042,166.862 313.375,172.862 307.5,180C 304.774,180.182 302.107,180.682 299.5,181.5C 300.002,182.716 300.335,183.883 300.5,185C 293.221,194.401 283.888,197.067 272.5,193C 267.037,191.043 264.037,187.21 263.5,181.5C 247.4,177.797 241.4,167.964 245.5,152C 233.473,149.381 221.639,147.547 210,146.5C 210.769,152.671 210.603,158.837 209.5,165C 233.81,173.583 252.977,188.75 267,210.5C 277.678,220.504 286.845,231.67 294.5,244C 296.845,242.721 299.512,241.888 302.5,241.5C 305.271,241.756 307.438,243.09 309,245.5C 312.264,256.626 315.931,267.626 320,278.5C 323.22,289.203 323.22,299.87 320,310.5C 316.243,322.461 308.409,326.628 296.5,323C 286.67,315.658 279.67,306.158 275.5,294.5C 265.815,289.468 260.982,281.468 261,270.5C 258.861,271.769 256.695,271.769 254.5,270.5C 244.409,256.663 235.576,241.997 228,226.5C 219.274,214.104 210.94,201.437 203,188.5C 193.478,199.833 182.645,209.666 170.5,218C 172.848,218.11 174.348,219.277 175,221.5C 177.135,228.906 179.469,236.239 182,243.5C 184.239,267.932 187.239,292.265 191,316.5C 191.865,321.625 193.198,326.625 195,331.5C 199.996,335.571 200.829,334.571 197.5,328.5C 198.536,324.148 201.202,322.648 205.5,324C 211.539,330.786 214.872,338.786 215.5,348C 215.392,360.054 214.558,372.554 213,385.5C 211.819,391.558 210.319,397.558 208.5,403.5C 207.755,405.747 206.422,407.58 204.5,409C 200.725,410.946 197.391,413.446 194.5,416.5C 192.129,415.653 190.129,414.32 188.5,412.5 Z M 128.5,37.5 C 131.759,39.986 135.426,41.8193 139.5,43C 153.724,44.7375 166.724,49.4042 178.5,57C 182.719,61.8996 183.552,67.3996 181,73.5C 175.654,83.8439 167.487,91.0106 156.5,95C 150.917,96.8857 145.584,98.3857 140.5,99.5C 144.81,97.0238 148.31,93.6905 151,89.5C 151.667,88.1667 151.667,86.8333 151,85.5C 148.363,83.7651 145.53,82.4318 142.5,81.5C 136.583,82.9897 130.583,83.4897 124.5,83C 128.273,81.1201 132.273,79.7867 136.5,79C 137.468,76.2268 138.801,73.7268 140.5,71.5C 137.109,66.9528 132.943,66.2861 128,69.5C 124.693,67.9973 121.193,66.9973 117.5,66.5C 116.252,67.0402 115.085,67.7069 114,68.5C 112.301,73.2897 111.801,78.1231 112.5,83C 104.032,94.9005 107.032,102.067 121.5,104.5C 113.616,106.272 105.616,106.939 97.5,106.5C 97.7229,103.886 96.5562,102.219 94,101.5C 91.3526,102.669 88.8526,104.002 86.5,105.5C 80.5792,104.437 74.9125,102.603 69.5,100C 66.1295,97.3027 64.7962,93.8027 65.5,89.5C 68.462,89.8833 69.462,88.8833 68.5,86.5C 69.1058,82.9723 70.2725,79.639 72,76.5C 78.3016,69.1972 84.9683,62.1972 92,55.5C 91.9368,58.4867 91.1035,61.32 89.5,64C 90.1905,65.0674 90.6905,66.2341 91,67.5C 98.6555,72.4054 104.656,70.4054 109,61.5C 110.992,55.6627 109.158,51.8294 103.5,50C 105.986,45.0797 109.986,42.0797 115.5,41C 119.919,39.6476 124.252,38.481 128.5,37.5 Z M 119.5,89.5 C 125.634,90.4627 131.634,90.7961 137.5,90.5C 131.322,96.9831 124.322,98.1497 116.5,94C 117.386,92.3853 118.386,90.8853 119.5,89.5 Z M 162.5,101.5 C 163.911,108.379 165.411,115.379 167,122.5C 169.635,125.825 172.802,126.325 176.5,124C 180.877,114.786 187.877,108.619 197.5,105.5C 200.601,106.019 203.601,106.853 206.5,108C 207.711,111.095 209.044,114.095 210.5,117C 206.183,123.441 202.183,130.274 198.5,137.5C 182.724,135.818 167.558,138.485 153,145.5C 146.041,144.582 139.541,146.082 133.5,150C 127.466,153.028 122.299,157.195 118,162.5C 112.58,169.667 107.913,177.333 104,185.5C 97.41,182.294 91.91,177.794 87.5,172C 79.8791,169.904 72.3791,167.404 65,164.5C 61.8424,162.974 61.6758,161.141 64.5,159C 71.1682,154.998 78.3349,152.164 86,150.5C 90.7341,154.241 93.9007,152.908 95.5,146.5C 94.8926,144.225 94.5593,141.891 94.5,139.5C 95.2549,131.128 96.2549,122.794 97.5,114.5C 120.265,115.147 141.931,110.814 162.5,101.5 Z M 273.5,116.5 C 278.172,116.488 280.006,118.822 279,123.5C 278.581,124.672 277.915,125.672 277,126.5C 273.709,124.8 270.209,123.633 266.5,123C 268.077,119.92 270.41,117.753 273.5,116.5 Z M 288.5,128.5 C 290.311,128.572 291.644,129.405 292.5,131C 293.737,134.098 294.237,137.265 294,140.5C 292.99,136.157 290.49,132.99 286.5,131C 287.381,130.292 288.047,129.458 288.5,128.5 Z M 260.5,131.5 C 269.513,130.758 277.013,133.758 283,140.5C 284.755,151.553 282.589,162.219 276.5,172.5C 275.441,173.696 274.107,174.363 272.5,174.5C 266.318,173.611 260.818,171.278 256,167.5C 253.528,162.676 253.028,157.676 254.5,152.5C 256.857,152.663 259.19,152.497 261.5,152C 262.293,150.915 262.96,149.748 263.5,148.5C 262.527,145.865 260.86,143.865 258.5,142.5C 262.378,139.725 262.378,136.892 258.5,134C 259.381,133.292 260.047,132.458 260.5,131.5 Z M 307.5,145.5 C 311.926,145.859 312.593,147.693 309.5,151C 304.212,152.489 298.879,153.656 293.5,154.5C 293.421,153.07 293.754,151.736 294.5,150.5C 299.444,150.186 303.778,148.519 307.5,145.5 Z M 177.5,146.5 C 183.176,146.334 188.843,146.501 194.5,147C 199.807,148.084 202.14,151.417 201.5,157C 200.904,167.227 198.071,176.727 193,185.5C 189.167,189.333 185.333,193.167 181.5,197C 169.211,206.287 157.211,215.954 145.5,226C 131.92,232.314 120.753,229.48 112,217.5C 108.831,206.291 109.831,195.291 115,184.5C 120.013,172.828 127.847,163.661 138.5,157C 141.732,155.551 145.065,154.384 148.5,153.5C 150.383,154.024 152.216,154.691 154,155.5C 160.975,150.089 168.809,147.089 177.5,146.5 Z M 290.5,165.5 C 293.286,167.113 295.953,168.946 298.5,171C 296.212,170.947 293.879,170.614 291.5,170C 289.452,168.774 289.119,167.274 290.5,165.5 Z M 208.5,172.5 C 228.741,180.897 244.574,194.564 256,213.5C 265.399,223.729 274.232,234.396 282.5,245.5C 278.879,248.144 274.879,249.977 270.5,251C 269.183,252.659 267.517,253.826 265.5,254.5C 264.669,257.734 262.669,259.234 259.5,259C 251.87,248.022 245.037,236.522 239,224.5C 228.275,209.44 217.942,194.106 208,178.5C 208.135,176.575 208.302,174.575 208.5,172.5 Z M 282.5,178.5 C 286.817,179.554 287.817,181.721 285.5,185C 281.705,185.979 278.372,185.146 275.5,182.5C 278.502,182.13 280.835,180.797 282.5,178.5 Z M 42.5,203.5 C 45.7747,206.376 47.7747,210.043 48.5,214.5C 47.7579,215.287 46.9246,215.953 46,216.5C 42.6524,212.642 41.4857,208.309 42.5,203.5 Z M 163.5,223.5 C 164.79,224.058 165.623,225.058 166,226.5C 167.702,233.574 169.702,240.574 172,247.5C 174.306,273.447 177.473,299.28 181.5,325C 181.167,325.5 180.833,326 180.5,326.5C 178.74,323.979 176.407,323.146 173.5,324C 171.442,325.933 169.275,327.767 167,329.5C 165.513,328.747 165.346,327.914 166.5,327C 165.214,320.9 164.047,314.733 163,308.5C 157.066,284.832 151.9,260.998 147.5,237C 153.058,232.728 158.391,228.228 163.5,223.5 Z M 49.5,228.5 C 49.5106,230.017 50.1772,231.184 51.5,232C 54.1667,232.667 56.8333,232.667 59.5,232C 62.0809,229.464 64.9143,227.298 68,225.5C 71.2881,228.563 73.4548,232.396 74.5,237C 73.377,246.787 68.377,253.787 59.5,258C 49.3342,259.082 43.3342,254.582 41.5,244.5C 41.8128,242.019 42.8128,239.853 44.5,238C 44.2645,237.127 43.9312,236.293 43.5,235.5C 44.8373,232.422 46.8373,230.089 49.5,228.5 Z M 29.5,232.5 C 33.2896,232.008 33.9563,232.841 31.5,235C 31.8333,235.333 32.1667,235.667 32.5,236C 31.2857,238.351 30.4523,240.851 30,243.5C 25.6692,239.904 25.5026,236.237 29.5,232.5 Z M 83.5,243.5 C 87.9896,245.085 92.4896,246.752 97,248.5C 102.031,252.871 101.031,255.204 94,255.5C 89.155,254.554 84.3217,253.554 79.5,252.5C 81.6582,249.852 82.9916,246.852 83.5,243.5 Z M 300.5,253.5 C 305.966,266.583 309.633,280.249 311.5,294.5C 310.935,302.622 307.935,309.622 302.5,315.5C 296.154,310.99 291.487,305.156 288.5,298C 291.529,297.461 294.529,296.794 297.5,296C 304.271,286.252 305.104,276.086 300,265.5C 298.442,263.641 296.609,262.141 294.5,261C 298.021,259.824 300.021,257.324 300.5,253.5 Z M 73.5,259.5 C 77.5817,263.185 80.0817,267.851 81,273.5C 81.5788,286.426 77.2455,288.093 68,278.5C 66.2945,274.382 64.7945,270.215 63.5,266C 67.0689,264.058 70.4022,261.892 73.5,259.5 Z M 36.5,260.5 C 41.1671,264.333 46.5005,266.833 52.5,268C 49.8333,268.667 49.8333,269.333 52.5,270C 47.9955,272.336 43.3289,273.17 38.5,272.5C 36.7745,270.772 35.4411,268.772 34.5,266.5C 35.3721,264.55 36.0388,262.55 36.5,260.5 Z M 278.5,260.5 C 279.552,260.351 280.552,260.517 281.5,261C 285.593,264.64 289.093,268.806 292,273.5C 292.919,278.656 292.086,283.489 289.5,288C 286.044,288.855 283.544,287.689 282,284.5C 280.063,277.523 278.229,270.523 276.5,263.5C 277.193,262.482 277.859,261.482 278.5,260.5 Z M 182.5,338.5 C 192.786,340.293 197.786,346.46 197.5,357C 198.354,364.146 195.188,367.313 188,366.5C 185.41,366.624 183.077,365.958 181,364.5C 179.594,356.251 179.094,347.917 179.5,339.5C 180.791,339.737 181.791,339.404 182.5,338.5 Z M 190.5,378.5 C 191.997,377.694 193.664,377.028 195.5,376.5C 196.842,377.902 197.676,377.569 198,375.5C 198.333,376.167 198.667,376.833 199,377.5C 199.415,375.709 200.415,374.376 202,373.5C 202.612,378.334 201.779,382.834 199.5,387C 200.051,388.398 200.384,389.732 200.5,391C 198.083,392.144 197.416,393.81 198.5,
            396C 197.809,397.067 197.309,398.234 197,399.5C 196.683,397.699 196.016,397.366 195,398.5C 192.226,396.86 189.726,394.86 187.5,392.5C 187.833,391.833 188.167,391.167 188.5,390.5C 186.82,387.998 185.154,385.498 183.5,383C 185.184,380.491 187.518,378.991 190.5,378.5 Z'
      ></path>
    </g>
    <g>
      <path
        fill='currentColor'
        d='M 149.5,50.5 C 158.908,52.1194 161.075,57.1194 156,65.5C 151.367,69.3246 146.533,69.4913 141.5,66C 139.077,62.6207 138.91,59.1207 141,55.5C 143.531,53.0967 146.364,51.4301 149.5,50.5 Z'
      ></path>
    </g>
    <g>
      <path
        fill='currentColor'
        d='M 218.5,165.5 C 219.833,166.167 219.833,166.167 218.5,165.5 Z'
      ></path>
    </g>
    <g>
      <path
        fill='currentColor'
        d='M 89.5,190.5 C 90.8333,191.167 90.8333,191.167 89.5,190.5 Z'></path>
    </g>
    <g>
      <path
        fill='currentColor'
        d='M 33.5,221.5 C 34.8333,222.167 34.8333,222.167 33.5,221.5 Z'></path>
    </g>
    <g>
      <path
        fill='currentColor'
        d='M 161.5,347.5 C 162.833,348.167 162.833,348.167 161.5,347.5 Z'
      ></path>
    </g>
    <g>
      <path
        fill='currentColor'
        d='M 187.5,412.5 C 187.833,412.5 188.167,412.5 188.5,412.5C 188.315,413.17 187.981,413.17 187.5,412.5 Z'
      ></path>
    </g>
  </svg>
</div>
