@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --height-header: 3.5rem;
  --height-footer: 3.5rem;

  --background: oklch(0.95 0.01 250);
  --foreground: oklch(0.15 0.1 250);

  --card: oklch(0.95 0.01 250);
  --card-foreground: oklch(0.15 0.1 250);

  --popover: oklch(0.95 0.01 250);
  --popover-foreground: oklch(0.15 0.1 250);

  --primary: oklch(0.18 0.0502 252.72);
  --primary-foreground: oklch(0.95 0.01 250);

  --secondary: oklch(0.4 0.1 200);
  --secondary-foreground: oklch(0.95 0.01 250);

  --muted: oklch(0.9 0.02 250);
  --muted-foreground: oklch(0.3 0.1 250);

  --accent: oklch(0.9 0.02 250);
  --accent-foreground: oklch(0.3 0.1 250);

  --destructive: oklch(0.6 0.2 30);
  --destructive-foreground: oklch(0.15 0.1 250);

  --success: oklch(0.6 0.2 140);
  --success-foreground: oklch(0.3 0.1 250);

  --border: oklch(0.5 0.1 250);
  --input: oklch(0.5 0.1 250);
  --ring: oklch(0.18 0.0502 252.72);

  --radius: 0.5rem;

  --tag-opacity-light: 0.15;
  --tag-opacity-dark: 0.3;

  --tag-react: oklch(0.5 0.2 200);
  --tag-remix: oklch(0.2 0.01 250);
  --tag-chakra: oklch(0.4 0.1 180);
  --tag-prisma: oklch(0.3 0.05 250);
  --tag-fly: oklch(0.5 0.3 280);
  --tag-workers: oklch(0.5 0.2 30);
  --tag-canvas: oklch(0.5 0.2 20);
  --tag-threejs: oklch(0.2 0.01 250);
  --tag-typescript: oklch(0.4 0.15 250);
  --tag-postgresql: oklch(0.35 0.1 250);
  --tag-graphql: oklch(0.5 0.2 320);
  --tag-node: oklch(0.4 0.15 140);
  --tag-vue: oklch(0.4 0.15 160);
  --tag-python: oklch(0.4 0.15 250);
  --tag-rust: oklch(0.2 0.01 250);
  --tag-cpp: oklch(0.4 0.2 250);
  --tag-web: oklch(0.5 0.2 20);
  --tag-database: oklch(0.35 0.1 250);
  --tag-network: oklch(0.5 0.2 0);
  --tag-system: oklch(0.25 0.05 250);
  --tag-dialogflow: oklch(0.5 0.2 40);
  --tag-tensorflow: oklch(0.5 0.2 50);
  --tag-drone: oklch(0.2 0.01 250);
  --tag-apollo: oklch(0.35 0.15 280);
  --tag-nest: oklch(0.5 0.2 350);
  --tag-shadcn: oklch(0.2 0.01 250);
  --tag-turborepo: oklch(0.2 0.01 250);
  --tag-mikro-orm: oklch(0.4 0.15 270);
  --tag-cs: oklch(0.35 0.15 250);
  --tag-is: oklch(0.4 0.15 250);
  --tag-music: oklch(0.35 0.15 250);
  --tag-drawing: oklch(0.4 0.15 250);
  --tag-gaming: oklch(0.35 0.15 250);
  --tag-astro: oklch(0.5 0.3 300);
  --tag-tailwindcss: oklch(0.5 0.2 200);
}

@media not print {
  .dark {
    --background: oklch(0.12 0.0402 252.72);
    --foreground: oklch(0.95 0.01 250);

    --card: oklch(0.18 0.0502 252.72);
    --card-foreground: oklch(0.15 0.1 250);

    --popover: oklch(0.18 0.0502 252.72);
    --popover-foreground: oklch(0.15 0.1 250);

    --primary: oklch(0.95 0.01 250);
    --primary-foreground: oklch(0.15 0.1 250);

    --secondary: oklch(0.5 0.15 200);
    --secondary-foreground: oklch(0.15 0.1 250);

    --muted: oklch(0.25 0.05 250);
    --muted-foreground: oklch(0.6 0.05 250);

    --accent: oklch(0.25 0.05 250);
    --accent-foreground: oklch(0.15 0.1 250);

    --destructive: oklch(0.4 0.15 30);
    --destructive-foreground: oklch(0.15 0.1 250);

    --success: oklch(0.6 0.2 140);
    --success-foreground: oklch(0.15 0.1 250);

    --border: oklch(0.4 0.1 250);
    --input: oklch(0.25 0.05 250);
    --ring: oklch(0.8 0.05 250);

    --tag-opacity-light: 0.3;
    --tag-opacity-dark: 0.15;
  }
}

@theme inline {
  --font-title: "Basteleur", sans-serif;
  --font-sans: "Spoof", sans-serif;

  --text-title-md: 5rem;
  --text-title-md--line-height: 4.5rem;
  --text-title-md--letter-spacing: -0.06em;
  --text-title-md--font-weight: 500;

  --text-title-xs: 2.8rem;
  --text-title-xs--line-height: 2.5rem;
  --text-title-xs--letter-spacing: -0.03em;
  --text-title-xs--font-weight: 500;

  --text-shadow-title: color-mix(in oklch, var(--primary) 30%, transparent) 0px
    0px 20px;

  --text-subtitle: 1.3rem;
  --text-subtitle--line-height: 1.65rem;
  --text-subtitle--letter-spacing: 0.03em;
  --text-subtitle--font-weight: 500;

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.fullscreen-transition {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(10);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;

  &:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-size: 600px;
    background-repeat: repeat;
    background-position: center;
    opacity: 0.1;
    position: fixed;
    inset: 0;
    content: "";
    z-index: -1;
  }
}

.wrapper-cursor {
  position: fixed;
  z-index: -1;
  inset: 0;
  overflow: hidden;

  @media print {
    display: none;
  }
}

.cursor {
  position: absolute;
  width: 200px;
  height: 200px;
  left: var(--cursor-x);
  top: var(--cursor-y);
  filter: blur(2rem);
  z-index: 9999;
  background: radial-gradient(circle, hsla(var(--primary) / 0.25), transparent);
  transform: translate(-50%, -50%);
  pointer-events: none; /* Make sure the cursor does not block interactions */
  border-radius: 50%;
  transition:
    transform 0.1s,
    top 50ms ease 0s,
    left 50ms ease 0s;
}

@media print {
  html {
    font-size: 10pt;
  }
  body {
    background: white;
    &:after {
      display: none;
    }
  }
}
