@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --height-header: 3.5rem;
    --height-footer: 3.5rem;

    --background: 0 0% 94%;
    --foreground: 235 100% 3%;

    --card: 0 0% 94%;
    --card-foreground: 235 100% 3%;

    --popover: 0 0% 94%;
    --popover-foreground: 214 95% 8%;

    --primary: 214.05 94.87% 7.65%;
    --primary-foreground: 21 18% 81%;

    --secondary: 187.06, 36.17%, 32.43%;
    --secondary-foreground: 0 0% 94%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 210 80% 16%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 235 100% 3%;

    --success: 140 100% 37%;
    --success-foreground: 222.2 47.4% 11.2%;

    --border: 212 12% 48%;
    --input: 212 12% 48%;
    --ring: 214 95% 8%;

    --radius: 0.5rem;

    --tag-opacity-light: 0.15;
    --tag-opacity-dark: 0.3;

    --tag-react: 193 95% 40%;
    --tag-remix: 0 0% 10%;
    --tag-chakra: 179 50% 30%;
    --tag-prisma: 220 25% 23%;
    --tag-fly: 255 100% 45%;
    --tag-workers: 20 100% 35%;
    --tag-canvas: 14 80% 35%;
    --tag-threejs: 0 0% 15%;
    --tag-typescript: 214 50% 40%;
    --tag-postgresql: 217 45% 32%;
    --tag-graphql: 315 80% 40%;
    --tag-node: 120 50% 30%;
    --tag-vue: 153 45% 35%;
    --tag-python: 207 50% 35%;
    --tag-rust: 0 0% 12%;
    --tag-cpp: 208 100% 30%;
    --tag-web: 14 80% 35%;
    --tag-database: 217 45% 32%;
    --tag-network: 0 80% 40%;
    --tag-system: 210 30% 18%;
    --tag-dialogflow: 36 80% 35%;
    --tag-tensorflow: 28 100% 35%;
    --tag-drone: 0 0% 13%;
    --tag-apollo: 261 65% 32%;
    --tag-nest: 347 80% 35%;
    --tag-shadcn: 0 0% 10%;
    --tag-turborepo: 0 0% 12%;
    --tag-mikro-orm: 231 45% 40%;
    --tag-cs: 215 85% 34%;
    --tag-is: 207 80% 35%;
    --tag-music: 215 85% 34%;
    --tag-drawing: 207 80% 35%;
    --tag-gaming: 215 85% 34%;
    --tag-astro: 280 100% 50%;
    --tag-tailwindcss: 199 89% 48%;
  }

  .dark {
    --background: 235 100% 3%;
    --foreground: 0 0% 94%;

    --card: 214 95% 8%;
    --card-foreground: 235 100% 3%;

    --popover: 214 95% 8%;
    --popover-foreground: 235 100% 3%;

    --primary: 21 18% 81%;
    --primary-foreground: 235 100% 3%;

    --secondary: 186 36% 50%;
    --secondary-foreground: 235 100% 3%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 235 100% 3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 235 100% 3%;

    --success: 120 100% 50%;
    --success-foreground: 235 100% 3%;

    --border: 217.2 32.6% 50.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --tag-opacity-light: 0.3;
    --tag-opacity-dark: 0.15;
  }

  .fullscreen-transition {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(10);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    transition: all 0.5s ease-in-out;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply h-full min-h-screen scroll-smooth bg-background text-foreground;

    &:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
      background-size: 600px;
      background-repeat: repeat;
      background-position: center;
      opacity: 0.1;
      position: fixed;
      inset: 0;
      content: "";
      z-index: -1;
    }
  }

  .wrapper-cursor {
    position: fixed;
    z-index: -1;
    inset: 0;
    overflow: hidden;

    @media print {
      display: none;
    }
  }

  .cursor {
    position: absolute;
    width: 200px;
    height: 200px;
    left: var(--cursor-x);
    top: var(--cursor-y);
    filter: blur(2rem);
    z-index: 9999;
    background: radial-gradient(
      circle,
      hsla(var(--primary) / 0.25),
      transparent
    );
    transform: translate(-50%, -50%);
    pointer-events: none; /* Make sure the cursor does not block interactions */
    border-radius: 50%;
    transition:
      transform 0.1s,
      top 50ms ease 0s,
      left 50ms ease 0s;
  }
}

@layer utilities {
  .text-4.5xl {
    font-size: 2.5rem;
  }
}
