---
import Layout from "@layouts/Layout.astro"
---

<Layout title='404' description='404 page not found'>
  <section
    id='hero'
    class='flex flex-col items-center justify-center py-8 text-primary [min-height:calc(100dvh-var(--height-footer)-var(--height-header))] md:flex-row'
  >
    <span class='animate-text-shadow text-center font-title text-9xl'>404</span>
  </section>
</Layout>
