---
import Layout from "@layouts/Layout.astro"
---

<Layout title='Credits' description='Credits'>
  <h1>Credits</h1>
  <div>
    <h2>Fonts</h2>
    <p>
      Basteleur: <a href='https://velvetyne.fr/fonts/basteleur/'
        >Basteleur by Keussel. Distributed by velvetyne.fr.</a
      >
    </p>
    <p>
      Noto Sans Variable: <a
        href='https://fonts.google.com/specimen/Noto+Sans+Variable'
        >https://fonts.google.com/specimen/Noto+Sans+Variable</a
      >
    </p>
  </div>
</Layout>
