---
import { ArrowRight } from "lucide-react"
import { cn } from "src/utils"

import Email from "@components/icons/email.astro"
import Linkedin from "@components/icons/linkedin.astro"
import { buttonVariants } from "@components/ui/button.astro"
import Github from "../components/icons/github.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title='Netoun'>
  <section
    id='hero'
    class='flex flex-col items-center gap-12 py-8 text-primary [min-height:calc(100dvh-var(--height-footer)-var(--height-header))] md:flex-row'
  >
    <div class='w-full space-y-6 md:flex-1 md:space-y-12'>
      <h1
        class='text-balance font-title text-6xl font-medium [text-shadow:hsla(var(--primary)/0.75)_0px_0_20px]'
      >
        Hi, I'm Nicolas !
        <br /> I'm a front end engineer.
      </h1>
      <div class='space-y-2 text-balance text-lg'>
        <p>
          I'm passionate about web technologies and I love to learn new things.
          I'm always looking for new challenges and opportunities to grow. I'm
          currently working at <a
            class='font-medium text-secondary underline hover:text-secondary/80'
            href='https://lonestone.io'
            target='_blank'
            rel='noopener noreferrer'>Lonestone</a
          > as a Frontend Engineer.
        </p>
        <p>
          I created <a
            class='font-medium text-secondary underline hover:text-secondary/80'
            href='https://www.treashunt.fr'
            target='_blank'
            rel='noopener noreferrer'>Treashunt</a
          >, a platform to to create, share, and play treasure hunt games with
          QR codes and geolocation.
        </p>
      </div>

      <div class='flex flex-wrap items-center gap-4 md:gap-8'>
        <a
          href='/cv'
          class={cn(
            buttonVariants({
              // variant: "outline",
              size: "lg"
            }),
            "group"
          )}
          >Get my resume
          <ArrowRight
            className='ml-2 size-4 duration-100 group-hover:scale-110'
          />
        </a>

        <div class='flex items-center gap-4 text-primary'>
          <a
            class='font-medium text-primary underline hover:text-primary/80'
            href='https://github.com/netoun'
            target='_blank'
            rel='noopener noreferrer'
          >
            <Github class='size-8' />
          </a>
          <a
            class='font-medium text-primary underline hover:text-primary/80'
            href='https://www.linkedin.com/in/nicolas-coulonnier-66416813b'
            target='_blank'
            rel='noopener noreferrer'
          >
            <Linkedin class='size-8' />
          </a>
          <a
            class='font-medium text-primary underline hover:text-primary/80'
            href='mailto:coulonnier.nicolas.44@gmail.com'
            target='_blank'
            rel='noopener noreferrer'
          >
            <Email class='h-8 w-10' />
          </a>
        </div>
      </div>
    </div>
    <div class='relative flex-1 p-4'>
      <div
        class='absolute right-0 z-[-1] h-1/2 min-h-96 w-1/2 min-w-96 rounded-full bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-primary to-transparent opacity-50 blur-[12rem]'
      >
      </div>
      <div class='mx-auto max-w-96'>
        <img
          src='https://avatars.githubusercontent.com/u/29695377?v=4'
          alt='Netoun'
          class='h-full w-full rounded-lg object-cover shadow-lg'
        />
      </div>
    </div>
  </section>
</Layout>
