---
import type { HTMLAttributes } from 'astro/types'
import { cn } from 'src/utils'

interface Props extends HTMLAttributes<'section'> {
  class?: string
}

const { class: className, ...rest } = Astro.props
---

<section class={cn('px-4 md:px-0', className)} {...rest}>
  <slot />
</section>
